<!DOCTYPE html>
<!--This is the main page that is shown when the user first logs in to the website-->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<title>My Gaming Plan</title>
  </head>
  <body>
    <div class="container-fluid" id="header">
	  <h1>My Gaming Plan</h1>
	  <button type="button" class="btn btn-info">Log Out</button>
	</div>
	
	<div class="container-fluid" id="nav">
	  <p>Home</p>
	  <p>My Profile</p>
	  <p>My Friends</p>
	  <p>My Games</p>
	</div>
	
	<div class="container-fluid" id="section">
	  <h1>INSERT NEWS FEED SHIT HERE. FIGURE OUT HOW TO DO THAT</h1>
	</div>
	
	<div class="container-fluid" id="footer">
	  <button type="button" class="btn btn-info">About Us</button>
	  <button type="button" class="btn btn-info">Contact Us</button>
	</div>
  </body>
</html>